<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container body-content">

        <h1 th:text="${title}">Cheese Menus</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <br/>

        <table class="table">

            <ul th:each="menu : *{menus}">
                <li><a th:href="@{'menu/view/' + ${menu.id}}" th:text="${menu.name}"></a></li>
            </ul>

        </table>

        <p>
            <a href="/menu/add">Add Menu</a>
        </p>

    </body>
</html>